  <form name="form" method="post" action="" id="form">
        <a href="#" id="toTop"></a>
        <div id="container">
            <div id="topo">
                <a href="/"><img src="/assets/logo.jpg" alt="Logo" border="0" /></a>
            </div>
            <div id="conteudo">
                <div id="menu">
                    <div id="nav">
                        <ul class="nobullet">
                            <li><a title="公司简介" class="menu" href="/">公司首页</a></li>
                            <li><a title="产品列表" class="menu" href="/products">产品列表</a></li>
                            <li><a title="联系我们" class="menu_on" href="/about_us">关于我们</a></li>
                            <li><br /><br /></li>
                        </ul>
                    </div>
                 <%= render 'layouts/desc'%>
                </div>
                <div id="paginas">
                    
<div id="page_left">
    <div>
        <img src="/assets/contact.jpg" style="border-width:0px;" />
    </div>
</div>
<div id="page_right">
    <h1 class="t32 branco">纳芙贝吉红酒</h1>
    <br />
    <span class="t13 branco">简介</span>
    <br />
    <p align="justify">
    上海先隆贸易有限公司成立于2014年，主营进口类食品。“纳芙贝吉”是其旗下红酒品牌，致力于国内的进口红酒贸易。
</p>
<p align="justify">
公司的创立背景：由MBA创业团队组成，其中包括具有资深采购及供应链背景、客户体验管理以及市场推广经验的团队成员。
</p>
<p align="justify">
公司以“拉近世界酒庄与国内大众的距离”为目标，以“传播葡萄酒知识与文化”为引领，以“提供优质、放心、原装的葡萄酒”为己任。我们希望用专业的知识，开发和管理供应渠道，使客户能拥有更好的产品和体验。
</p>
<p align="justify">

</p>
<p align="justify">

</p>
<p align="justify">

</p>

</div>
</form>
                </div>
            </div>
        </div>
