


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>
  纳芙贝吉
</title>
<meta name="title" content="公司简介" />
<meta name="description" content="" />
<meta name="keywords" content="" />

    <script language="JavaScript" type="text/javascript" src="/assets/add.js"></script>
    <script language="javascript" type="text/javascript" src="/assets/main.js"></script>
    <script language="javascript" type="text/javascript" src="/assets/swfobject.js"></script>
    <script language="JavaScript" type="text/javascript" src="/assets/jquery-1.4.2.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/assets/jquery.scroll.pack.js"></script>
    <script language="JavaScript" type="text/javascript" src="/assets/jquery.easing.js"></script>
    <script language="JavaScript" type="text/javascript" src="/assets/cufon-yui.js"></script>
    <script language="JavaScript" type="text/javascript" src="/assets/Andron_Freefont_LAT_Reg_400.font.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/assets/main.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/assets/main1.css" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <script type="text/javascript">
        Cufon.replace('.andron');

        $(function () {
            $("#toTop").scrollToTop({ speed: 1000, ease: "easeOutExpo" });
        });

        /*
        $("#toTop").scrollToTop({
            speed: "fast",
            ease: "easeOutBounce",
            start: 700
        });
        */
    </script>
</head>
<body>
  <form name="aspnetForm" method="post" action="default.aspx" id="aspnetForm">
        <a href="#" id="toTop"></a>
        <div id="container">
            <div id="topo">
                <a href="/"><img src="/assets/logo.jpg" alt="Logo" border="0" /></a>
            </div>
            <div id="conteudo">
                <div id="menu">
                    <div id="nav">
                        <ul class="nobullet">
                            <li><a title="公司简介" class="menu_on andron" href="/">公司简介</a></li>
                            <li><a title="产品列表" class="menu andron upper" href="/">产品列表</a></li>
                            <li><a title="联系我们" class="menu andron upper" href="/locais-de-consumo/default.aspx?idioma=pt">联系我们</a></li>
                            <li><br /><br /></li>
                        </ul>
                    </div>
                    <div id="copyright">
                        <div style="float:left">&nbsp; &nbsp;</div>
                        <div style="float:left">&nbsp;</div>
                        <div style="clear:both; float:left; height:10px"></div>
                        <div style="clear:both; float:left"><span class="t10 cinza">&copy; 2014+ 上海先隆贸易有限公司</span></div>
                    </div>
                </div>
                <div id="paginas">
                    
<div id="page_left">
    <div>
        <img src="http://media.valledonideo.com/multimedia/fotos/16/0003BCD9DCECB1.jpg" style="border-width:0px;" />
    </div>
</div>
<div id="page_right">
    <h1 class="andron t32 branco">纳芙贝吉红酒</h1>
    <br />
    <span class="t13 branco">历史</span>
    <br />
    <p align="justify">
O VALLE DO N&Iacute;DEO - Douro DOC &eacute; parte de um projecto empresarial iniciado em 1941 por Herm&iacute;nio Augusto Abrantes com a aquisi&ccedil;&atilde;o da Quinta do Daniel, localizada na povoa&ccedil;&atilde;o de Pocinho, Concelho de Vila Nova de Foz C&ocirc;a, Sub-regi&atilde;o do Douro Superior, propriedade referenciada desde o ano de 1893.
</p>
<p align="justify">
Ao longo de tr&ecirc;s gera&ccedil;&otilde;es foram sendo sucessivamente adquiridas novas propriedades pelo que actualmente tamb&eacute;m fazem parte deste projecto a QUINTA DE AZINHATE (Vila Nova de Foz C&ocirc;a), a QUINTA DA MOURA (Pinh&atilde;o), a QUINTA DE FONTELLAS (Pinh&atilde;o), a QUINTA DA VERGEIRA (Pocinho), QUINTA DA VEIGA (Pocinho), num total de cerca de 140 Ha de vinhas.
</p>
<p align="justify">
Ap&oacute;s setenta anos de actividade dedicada exclusivamente &agrave; produ&ccedil;&atilde;o de uvas destinadas ao fabrico de Vinho do Porto foi editado em 2003 o primeiro vinho de mesa com marca pr&oacute;pria - o VALLE DO N&Iacute;DEO - Superior - 2001 Tinto, por iniciativa do en&oacute;logo MIGUEL ABRANTES, neto do fundador.
</p>
<p align="justify">
Desde ent&atilde;o foram sendo progressivamente criados o VALLE DO N&Iacute;DEO - Branco, VALLE DO N&Iacute;DEO Ros&eacute;, e o VALLE DO N&Iacute;DEO - Branco Sauvignon e Viosinho. 
</p>
<p align="justify">
O portfolio de produtos &eacute; complementado com uma marca designada por QUINTA DE AZINHATE - Reserva Tinto e Branco, vinhos posicionados no segmento Premium, vinificados de acordo com os m&eacute;todos de fabrico tradicionais e pela marca Galharda, Branco e Tinto, vinhos destinado a um segmento de consumo corrente.
</p>
<p align="justify">
Valle do N&iacute;deo, Junho 2012
</p>

</div>
</form>
                </div>
            </div>
        </div>
</body>
</html>
