


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="ctl00_Head1"><title>
    Valle do Nídeo
</title>
<meta name="title" content="Valle do Nídeo " />
<meta name="description" content="Valle do Nídeo " />
<meta name="keywords" content="" />

    <script language="JavaScript" type="text/javascript" src="/assets/add.js"></script>
    <script language="javascript" type="text/javascript" src="/assets/main.js"></script>
    <script language="javascript" type="text/javascript" src="/assets/swfobject.js"></script>
    <script language="JavaScript" type="text/javascript" src="/assets/jquery-1.4.2.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/assets/jquery.scroll.pack.js"></script>
    <script language="JavaScript" type="text/javascript" src="/assets/jquery.easing.js"></script>
    <script language="JavaScript" type="text/javascript" src="/assets/cufon-yui.js"></script>
    <script language="JavaScript" type="text/javascript" src="/assets/Andron_Freefont_LAT_Reg_400.font.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/assets/main.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/assets/main1.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <script type="text/javascript" src="/assets/easySlider1.7.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/assets/easySlider1.7.css" />
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $("#slider").easySlider();
        }); 
    </script>

    <script type="text/javascript">
        Cufon.replace('.andron');

        $(function () {
            $("#toTop").scrollToTop({ speed: 1000, ease: "easeOutExpo" });
        });

        /*
        $("#toTop").scrollToTop({
            speed: "fast",
            ease: "easeOutBounce",
            start: 700
        });
        */
    </script>
</head>
<body>
    <form name="aspnetForm" method="post" action="default.aspx" id="aspnetForm">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTEwMzY0ODc5MTQPZBYCZg9kFgQCAQ9kFgICAQ8WAh4EVGV4dAWRAQ0KPG1ldGEgbmFtZT0idGl0bGUiIGNvbnRlbnQ9IlZhbGxlIGRvIE7DrWRlbyAiIC8+DQo8bWV0YSBuYW1lPSJkZXNjcmlwdGlvbiIgY29udGVudD0iVmFsbGUgZG8gTsOtZGVvICIgLz4NCjxtZXRhIG5hbWU9ImtleXdvcmRzIiBjb250ZW50PSIiIC8+DQpkAgMPZBYcAgEPDxYKHghDc3NDbGFzcwUObWVudV9vbiBhbmRyb24fAAUOQVBSRVNFTlRBw4fDg08eC05hdmlnYXRlVXJsBSAvYS1xdWludGEvZGVmYXVsdC5hc3B4P2lkaW9tYT1wdB4HVG9vbFRpcAUOQVBSRVNFTlRBw4fDg08eBF8hU0ICAmRkAgMPDxYKHwEFDm1lbnVfb24gYW5kcm9uHwAFCFBST0RVVE9THwIFHi92aW5ob3MvZGVmYXVsdC5hc3B4P2lkaW9tYT1wdB8DBQhQUk9EVVRPUx8EAgJkZAIHDw8WCh8BBQ5tZW51X29uIGFuZHJvbh8ABRBQUk9WQVMgJiBWSVNJVEFTHwIFIS9zdWdlc3RvZXMvZGVmYXVsdC5hc3B4P2lkaW9tYT1wdB8DBRBQUk9WQVMgJiBWSVNJVEFTHwQCAmRkAgkPDxYKHwEFDm1lbnVfb24gYW5kcm9uHwAFEkdBTEVSSUEgREUgSU1BR0VOUx8CBSYvdmlzaXRhLXZpcnR1YWwvZGVmYXVsdC5hc3B4P2lkaW9tYT1wdB8DBRJHQUxFUklBIERFIElNQUdFTlMfBAICZGQCCw8PFgofAQUObWVudV9vbiBhbmRyb24fAAUJTk9Uw41DSUFTHwIFIC9ub3RpY2lhcy9kZWZhdWx0LmFzcHg/aWRpb21hPXB0HwMFCU5PVMONQ0lBUx8EAgJkZAINDw8WCh8BBQ5tZW51X29uIGFuZHJvbh8ABQhJTVBSRU5TQR8CBSAvaW1wcmVuc2EvZGVmYXVsdC5hc3B4P2lkaW9tYT1wdB8DBQhJTVBSRU5TQR8EAgJkZAIPDw8WCh8BBQ5tZW51X29uIGFuZHJvbh8ABQ9QT05UT1MgREUgVkVOREEfAgUpL2xvY2Fpcy1kZS1jb25zdW1vL2RlZmF1bHQuYXNweD9pZGlvbWE9cHQfAwUPUE9OVE9TIERFIFZFTkRBHwQCAmRkAhEPDxYKHwEFDm1lbnVfb24gYW5kcm9uHwAFCUNPTlRBQ1RPUx8CBSIvYS1xdWludGEvY29udGFjdG9zLmFzcHg/aWRpb21hPXB0HwMFCUNPTlRBQ1RPUx8EAgJkZAITDw8WBB8ABQpOZXdzbGV0dGVyHwIFIy9hLXF1aW50YS9uZXdzbGV0dGVyLmFzcHg/aWRpb21hPXB0ZGQCFQ8PFgIfAAUIU2lnYS1ub3NkZAIXDw8WAh8ABRwmY29weTsgMjAxMisgVmFsbGUgZG8gTsOtZGVvZGQCGQ8PFgIfAAUcVG9kb3Mgb3MgZGlyZWl0b3MgcmVzZXJ2YWRvc2RkAhsPDxYEHwAFGFBvbMOtdGljYSBkZSBwcml2YWNpZGFkZR8CBS0vYS1xdWludGEvcG9saXRpY2EtcHJpdmFjaWRhZGUuYXNweD9pZGlvbWE9cHRkZAIdD2QWAgIBDxYCHgtfIUl0ZW1Db3VudAIBFgJmD2QWDgIBDw8WAh8ABXM8aW1nIHNyYz0iaHR0cDovL21lZGlhLnZhbGxlZG9uaWRlby5jb20vbXVsdGltZWRpYS9mb3Rvcy8xMi8wMDAzQjBDNjc1NzNGNS5qcGciIGJvcmRlcj0iMCIgYWx0PSJWYWxsZSBkbyBOw61kZW8iIC8+ZGQCAw8WAh8ABQIwMWQCBQ8WAh8ABQhGZXYgMjAxMWQCBw8PFgQfAAUUTk9USUNJQVMgRSBOT1ZJREFERVMfAgUgL25vdGljaWFzL2RlZmF1bHQuYXNweD9pZGlvbWE9cHRkZAIJDw8WBB8ABR5WYWxsZSBkbyBOw61kZW8gLSBOb3ZvIFdlYnNpdGUfAgUnL25vdGljaWFzL3Nob3cuYXNweD9pZGlvbWE9cHQmaWRjb250PTEyZGQCCw8WAh8AZWQCDQ8PFgQfAAUITEVSIE1BSVMfAgUnL25vdGljaWFzL3Nob3cuYXNweD9pZGlvbWE9cHQmaWRjb250PTEyZGRk6nsRVDQhECV1TD5+ob4MA+4UtTQ=" />
</div>

        <a href="#" id="toTop"></a>
        <div id="container">
            <div id="topo">
                <a href="/default.aspx"><img src="/images/logo.png" alt="Valle do Nídeo" border="0" /></a>
            </div>
            <div id="conteudo">
                <div id="menu">
                    <div id="nav">
                        <ul class="nobullet">
                            <li><a id="ctl00_HyperLink1" title="APRESENTAÇÃO" class="menu_on andron" href="/a-quinta/default.aspx?idioma=pt">APRESENTAÇÃO</a></li>
                            <li><a id="ctl00_HyperLink2" title="PRODUTOS" class="menu_on andron" href="/vinhos/default.aspx?idioma=pt">PRODUTOS</a></li>
                            
                            <li><a id="ctl00_HyperLink5" title="PROVAS &amp; VISITAS" class="menu_on andron" href="/sugestoes/default.aspx?idioma=pt">PROVAS & VISITAS</a></li>
                            <li><a id="ctl00_HyperLink3" title="GALERIA DE IMAGENS" class="menu_on andron" href="/visita-virtual/default.aspx?idioma=pt">GALERIA DE IMAGENS</a></li>
                            <li><a id="ctl00_HyperLink6" title="NOTÍCIAS" class="menu_on andron" href="/noticias/default.aspx?idioma=pt">NOTÍCIAS</a></li>
                            <li><a id="ctl00_HyperLink4" title="IMPRENSA" class="menu_on andron" href="/imprensa/default.aspx?idioma=pt">IMPRENSA</a></li>
                            <li><a id="ctl00_HyperLink7" title="PONTOS DE VENDA" class="menu_on andron" href="/locais-de-consumo/default.aspx?idioma=pt">PONTOS DE VENDA</a></li>
                            <li><a id="ctl00_HyperLink8" title="CONTACTOS" class="menu_on andron" href="/a-quinta/contactos.aspx?idioma=pt">CONTACTOS</a></li>
                            <li><br /><br /></li>
                        </ul>
                    </div>
                    <div id="copyright">
                        <div style="float:left"><a id="ctl00_lnk_newsletter" class="cinza_claro" href="/a-quinta/newsletter.aspx?idioma=pt">Newsletter</a></div>
                        <div style="float:left">&nbsp; | &nbsp;</div>
                        <div style="float:left"><span id="ctl00_lbl_siganos" class="cinza_claro">Siga-nos</span></div>
                        <div style="float:left">&nbsp;</div>
                        <div style="float:left"><a id="social_facebook" href="http://www.facebook.com/pages/Valle-do-N%C3%ADdeo-Reserva-Douro-DOC/137710520982" target="_blank"></a></div>
                        <div style="float:left"><a id="social_rss" href="/rss/default.aspx" target="_blank"></a></div>
                        <div style="clear:both; float:left; height:10px"></div>
                        <div style="clear:both; float:left"><span id="ctl00_lbl_copyright" class="t10 cinza">&copy; 2012+ Valle do Nídeo</span></div>
                        <div style="clear:both; float:left"><span id="ctl00_lbl_direitos" class="t10 cinza">Todos os direitos reservados</span></div>
                        <div style="clear:both; float:left"><a id="ctl00_lnk_politica" class="t10 cinza" href="/a-quinta/politica-privacidade.aspx?idioma=pt">Política de privacidade</a></div>
                    </div>
                </div>
                <div id="paginas">
                    
<div id="image">
    <img src="/assets/image_home.jpg" alt="Valle do Nídeo Vinhos" border="" />
</div>
<div id="slider_container">
    <div id="slider">
        <ul>
        
            <li>
                <div id="image_news"><a id="ctl00_ContentPlaceHolder1_Repeater1_ctl00_lnk_img"><img src="http://media.valledonideo.com/multimedia/fotos/12/0003B0C67573F5.jpg" border="0" alt="Valle do Nídeo" /></a></div>
                <div id="home_news">
                    <div id="data_home_news">
                        <div id="data_day">01</div>
                        <div id="data_month_year">Fev 2011</div>
                    </div>
                    <div id="label_news_home"><h2><a id="ctl00_ContentPlaceHolder1_Repeater1_ctl00_lnk_listnoticias" class="t10 cinza" href="/noticias/default.aspx?idioma=pt">NOTICIAS E NOVIDADES</a></h2></div>
                    <div id="title_news"><h1><a id="ctl00_ContentPlaceHolder1_Repeater1_ctl00_lnk_titulo" class="t20 branco" href="/noticias/show.aspx?idioma=pt&amp;idcont=12">Valle do Nídeo - Novo Website</a></h1></div>
                    <div id="text_news"> <a id="ctl00_ContentPlaceHolder1_Repeater1_ctl00_lnk_mais" class="t11 branco" href="/noticias/show.aspx?idioma=pt&amp;idcont=12">LER MAIS</a></div>
                </div>
            </li>
        
        </ul>
    </div>
</div>

                </div>
            </div>
        </div>
    </form>
</body>
</html>
