  <form name="form" method="post" action="" id="form">
        <a href="#" id="toTop"></a>
        <div id="container">
            <div id="topo">
                <a href="/"><img src="/assets/logo.jpg" alt="Logo" border="0" /></a>
            </div>
            <div id="conteudo">
                <div id="menu">
                    <div id="nav">
                        <ul class="nobullet">
                            <li><a title="公司简介" class="menu_on" href="/">公司简介</a></li>
                            <li><a title="产品列表" class="menu" href="/products">产品列表</a></li>
                            <li><a title="联系我们" class="menu" href="/about_us">关于我们</a></li>
                            <li><br /><br /></li>
                        </ul>
                    </div>
                    <div id="copyright">
                        <div style="float:left">&nbsp; &nbsp;</div>
                        <div style="float:left">&nbsp;</div>
                        <div style="clear:both; float:left; height:10px"></div>
                        <div style="clear:both; float:left"><span class="t10 cinza">&copy; 2014+ </span></div>
                        <div style="clear:both; float:left"><span class="t10 cinza">上海先隆贸易有限公司</span></div>
                    </div>
                </div>
                <div id="paginas">
                    
                    <div id="image">
                        <img src="/assets/home_show.png"/>
                    </div>
                  <div id="slider_container">
    <div id="slider">
        <ul>
        
            <li>
                <div id="image_news"><a id=""><img src="/assets/show.jpg" border="0" alt="" /></a></div>
                <div id="home_news">
                    <div id="data_home_news">
                        <div id="data_day"><%= DateTime.now.mday %></div>
                        <div id="data_month_year"><%= DateTime.now.strftime('%b %Y') %></div>
                    </div>
                    <div id="label_news_home"><h2><a id="" class="t10 cinza" href="/">淘宝店链接</a></h2></div>
                    <div id="title_news"><h1><a id="" class="t20 branco" href="/">纳芙贝吉红酒专卖</a></h1></div>
                    <div id="text_news"> <a id="" class="t11 branco" href="/"></a></div>
                </div>
            </li>
        
        </ul>
    </div>
</div>

                </div>
            </div>
        </div>
    </form>


