/* Easy Slider */
    #slider_container{
	    position:absolute;
	    left:460px;
    }

	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
	}
	
	#slider2{margin-top:1em;}
	
	#slider li, #slider2 li 
	{
		width:502px;
		height:486px;
		overflow:hidden;
	}
	
	#prevBtn
	{
	    display:block;
	    position:absolute;
	    left:502px;
	    top:0px;
	    background:#272727 url('/assets/btn_up.png');
	    z-index:1000;
	}
	
	#nextBtn
	{
	    display:block;
	    position:absolute;
	    left:502px;
	    top:150px;
	    width:35px;
	    height:150px;
	    background:#1B1B1B url('/assets/btn_down.png');
	}

	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		width:35px;
		height:150px;
	}

	/* numeric controls */	

	ol#controls{
		margin:1em 0;
		padding:0;
		height:28px;	
	}
	ol#controls li{
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
	}
	ol#controls li a{
		float:left;
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#DAF3F8;
		color:#555;
		padding:0 10px;
		text-decoration:none;
	}
	ol#controls li.current a{
		background:#5DC9E1;
		color:#fff;
	}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
/* // Easy Slider */