<div id="copyright">
	<div style="float:left">&nbsp; &nbsp;</div>
	<div style="float:left">&nbsp;</div>
	<div style="clear:both; float:left; height:10px"></div>
	<div style="clear:both; float:left"><span class="t10 cinza">&copy; 2014+ </span></div>
	<div style="clear:both; float:left"><span class="t10 cinza">上海先隆贸易有限公司</span></div>
</div>