<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>
  纳芙贝吉
</title>
<meta name="title" content="公司简介" />
<meta name="description" content="" />
<meta name="keywords" content="" />

    <script language="JavaScript" type="text/javascript" src="/assets/add.js"></script>
    <script language="javascript" type="text/javascript" src="/assets/main.js"></script>
    <script language="javascript" type="text/javascript" src="/assets/swfobject.js"></script>
    <script language="JavaScript" type="text/javascript" src="/assets/jquery-1.4.2.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/assets/jquery.scroll.pack.js"></script>
    <script language="JavaScript" type="text/javascript" src="/assets/jquery.easing.js"></script>
    <script language="JavaScript" type="text/javascript" src="/assets/cufon-yui.js"></script>
    <script language="JavaScript" type="text/javascript" src="/assets/Andron_Freefont_LAT_Reg_400.font.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/assets/main.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/assets/main1.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <script type="text/javascript" src="/assets/easySlider1.7.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/assets/easySlider1.7.css" />


    <script type="text/javascript">
        Cufon.replace('.andron');

        $(function () {
            $("#toTop").scrollToTop({ speed: 1000, ease: "easeOutExpo" });
        });

        /*
        $("#toTop").scrollToTop({
            speed: "fast",
            ease: "easeOutBounce",
            start: 700
        });
        */
    </script>
</head>
<body>
<%= yield %>
</body>
</html>



